#plasmo-shadow-container {
  --firebase-elevate-brand: #7a52d3;
  --firebase-elevate-font: "Inter";
}

.elevate-field-settings-btn {
  background-color: transparent;
  border-radius: 30px;
  margin-left: 40px;
  border-color: black;
  border-width: 2.3px;
  font-family: var(--firebase-elevate-font);
  font-weight: 600;
  font-size: 11.3px;
}
